<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="O2O" connectionString="database=O2O_Dev;server=192.168.81.23;uid=sa;pwd=Cgit86136101;" providerName="System.Data.SqlClient"/>
    <add name="masterDB" connectionString="database=EBS;server=.;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
    <!--<add name="masterDB" connectionString="database=EBS;server=localhost;uid=root;pwd=123456;" providerName="MySql.Data.MySqlClient" />-->
    <add name="ebsdb" connectionString="database=ebs_test;server=112.74.83.55;uid=root;pwd=guguxiang@123;" providerName="MySql.Data.MySqlClient" />
    <add name="dbtest" connectionString="database=dbtest;server=.;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>